
table, td, th {
    border: 1px solid black;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 50px;

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;

}